@import './vars';

.ShoppingCartOrder {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    align-items: center;
    gap: 16px;
}

.ShoppingCartOrder figure {
    margin: 0;
}

.ShoppingCartOrder figure img {
    object-fit: cover;
    border-radius: 12px;
}

.ShoppingCartOrder p:nth-child(2) {
    color: $--very-light-pink;
}

.ShoppingCartOrder p:nth-child(3) {
    font-size: $--md;
    font-weight: bold;
}
